.container
    .goods-info
        .goods__item
            .goods__image
                img(src="./images/decor/item-1.jpg", alt="item")
            span Дорожный знак 2.4 — Уступите дорогу
            a(href="#") Подробнее
        .goods__item
            .goods__image
                img(src="./images/decor/item-2.jpg", alt="item")
            span Дорожный знак 3.10 — Движение пешеходов запрещено
            a(href="#") Подробнее
        .goods__item
            .goods__image
                img(src="./images/decor/item-3.jpg", alt="item")
            span Дорожный знак 3.18.2 — Поворот налево запрещен
            a(href="#") Подробнее
        .goods__item
            .goods__image
                img(src="./images/decor/item-4.jpg", alt="item")
            span Дорожный знак 4.1.1 — Движение прямо
            a(href="#") Подробнее
        .goods__item
            .goods__image
                img(src="./images/decor/item-5.jpg", alt="item")
            span Дорожный знак 2.4 — Уступите дорогу
            a(href="#") Подробнее
        .goods__item
            .goods__image
                img(src="./images/decor/item-6.jpg", alt="item")
            span Дорожный знак 3.10 — Движение пешеходов запрещено
            a(href="#") Подробнее
        .goods__item
            .goods__image
                img(src="./images/decor/item-7.jpg", alt="item")
            span Дорожный знак 3.18.2 — Поворот налево запрещен
            a(href="#") Подробнее
        .goods__item
            .goods__image
                img(src="./images/decor/item-8.jpg", alt="item")
            span Дорожный знак 4.1.1 — Движение прямо
            a(href="#") Подробнее